In [1]:
import seaborn as sns
import scipy.stats as stats
from statsmodels.stats import weightstats
import numpy as np
import pandas as pd
import random
import warnings
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
sns.set(rc={'figure.figsize':(13, 7.5)})
sns.set_context('talk')

In [4]:
warnings.filterwarnings('ignore')

In [5]:
df = pd.read_csv('COVID-19 Activity.csv')

In [6]:
data = pd.DataFrame(df)

In [7]:
data.head()

,PEOPLE_POSITIVE_CASES_COUNT,COUNTY_NAME,PROVINCE_STATE_NAME,REPORT_DATE,CONTINENT_NAME,DATA_SOURCE_NAME,PEOPLE_DEATH_NEW_COUNT,COUNTY_FIPS_NUMBER,COUNTRY_ALPHA_3_CODE,COUNTRY_SHORT_NAME,COUNTRY_ALPHA_2_CODE,PEOPLE_POSITIVE_NEW_CASES_COUNT,PEOPLE_DEATH_COUNT
0,0,Greene,Alabama,2020-01-21,America,New York Times,0,1063.0,USA,United States,US,0,0
1,0,Greene,Alabama,2020-01-22,America,New York Times,0,1063.0,USA,United States,US,0,0
2,0,Greene,Alabama,2020-01-23,America,New York Times,0,1063.0,USA,United States,US,0,0
3,0,Greene,Alabama,2020-01-24,America,New York Times,0,1063.0,USA,United States,US,0,0
4,0,Greene,Alabama,2020-01-25,America,New York Times,0,1063.0,USA,United States,US,0,0

In [8]:
data = data.drop(['COUNTY_NAME','PROVINCE_STATE_NAME'], axis=1)

In [10]:
data = data.drop(['DATA_SOURCE_NAME','PEOPLE_DEATH_NEW_COUNT','COUNTY_FIPS_NUMBER','COUNTRY_ALPHA_3_CODE'], axis=1)

In [11]:
data = data.drop(['COUNTRY_ALPHA_2_CODE','PEOPLE_POSITIVE_NEW_CASES_COUNT','PEOPLE_DEATH_COUNT'],axis=1)

In [12]:
data.head()

,PEOPLE_POSITIVE_CASES_COUNT,REPORT_DATE,CONTINENT_NAME,COUNTRY_SHORT_NAME
0,0,2020-01-21,America,United States
1,0,2020-01-22,America,United States
2,0,2020-01-23,America,United States
3,0,2020-01-24,America,United States
4,0,2020-01-25,America,United States
...,...,...,...,...
1356964,0,2020-01-21,Oceania,New Caledonia
1356965,0,2020-01-21,Africa,Cameroon
1356966,0,2020-01-21,America,Trinidad and Tobago
1356967,0,2020-01-21,Asia,Thailand
1356968,0,2020-01-21,America,Turks and Caicos Islands

In [13]:
data.CONTINENT_NAME.unique()

array(['America', 'Oceania', 'Europe', 'Asia', 'Africa', nan],
      dtype=object)

In [14]:
data1 = data.loc[data['CONTINENT_NAME']=='Oceania']
data2 = data.loc[data['CONTINENT_NAME']=='Asia']
d = data.loc[data['CONTINENT_NAME']=='Europe']
data2 = data2.append(d)
data3 = data.loc[data['CONTINENT_NAME']=='America']

In [15]:
d = data1.groupby('COUNTRY_SHORT_NAME')
d2 = data2.groupby('COUNTRY_SHORT_NAME')
d3 = data3.groupby('COUNTRY_SHORT_NAME')

In [16]:
mean1 = d.mean()
mean2 = d2.mean()
mean3 = d3.mean()

In [22]:
F, p = stats.f_oneway(mean1, mean2, mean3)
print("p-value for significance is: ", p)
if p<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

p-value for significance is:  [0.54016371]
accept null hypothesis